* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  width: 100%;
}

.navbar nav {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar nav a {
  margin-left: 15px;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}


.contacts-div{
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  .contacts-title{
    font-size: 48px;
  }
}

.contact-input{
  padding: 10px 25px;
  text-align: center;
  border-radius: 6px;
  border: none;
  background-color: rgb(201, 201, 201);
  transition: 0.35s background;
}

.contact-input:nth-child(4){
  padding: 30px 25px;
  text-align: center;
  border-radius: 6px;
  border: none;
  background-color: rgb(201, 201, 201);
}

.contact-input:hover{
  background-color: rgb(156, 156, 156);
  border: none;
}

.contacts-btn{
  padding: 10px 65px;
  background-color: rgb(79, 115, 197);
  border-radius: 8px;
  color: #fff;
  border: none;
  transition: 0.4s background;
}

.contacts-btn:hover{
  background-color: rgb(53, 77, 133);
}

